@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --brown: #cea02b;
    --black: black;
    --danger: #a91d3a;
    --bg-color-main: white;
    --text-color-main: black;
    --font-size-small: 10px;
    --font-size-normal: 12px;
    --font-size-medium: 16px;
    --font-size-large: 18px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --bg-color-main: black;
        --text-color-main: white;
    }
} */

html,
body,
#root {
    background-color: var(--bg-color-main);
    color: var(--text-color-main);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body>header {
    background-color: var(--brown);
    font-size: var(--font-size-small);
    font-weight: 700;
}

.fifteenth-logo {
    display: flex;
    position: relative;
}

.fifteenth-logo>span {
    position: relative;
    top: -1px;
    scale: .6;
    translate: -2px -7px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: var(--bg-color-main);
    border: 1px solid #cacaca;
    margin: 5px 10px;
    margin-block: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: var(--text-color-main);
}

#root {
    max-height: calc(100vh - 47px);
    overflow-y: auto;
}

.hero-img {
    height: 236px;
    background-image: url(./banner-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position-y: -77px;
}

.hero-wrapper {
    transition: height 500ms ease;
}

.hero-wrapper .hero-img+div {
    font-family: Inter;
    font-size: 26.13px;
    font-weight: 800;
}

.section-header {
    background-color: var(--bg-color-main);
}

.section-header>* {
    color: var(--danger);
    border: 2px solid currentColor;
    font-weight: 700;
    font-size: var(--font-size-small);
}

.sub-form .img-wrapper {
    background-color: var(--brown);
    border: 3px solid var(--bg-color-main);
    color: var(--text-color-main);
    border-radius: 20px;
    overflow: hidden;
}

.sub-form img,
.sub-form .img-wrapper>label>button,
.sub-form .img-wrapper img.is-filled+label>svg {
    display: none;
}

.sub-form img.is-filled {
    display: block;
}

.sub-form:hover .img-wrapper img.is-filled+label {
    backdrop-filter: contrast(0.5);
}

.sub-form:hover .img-wrapper img.is-filled+label>button {
    display: flex;
    background-color: var(--brown);
    font-size: var(--font-size-small);
}

.sub-form {
    padding-top: 30px;
    padding-left: 30px;
}

.sub-form .task-text {
    background-color: var(--text-color-main);
    color: var(--bg-color-main);
    font-size: 15px;
    font-weight: 700;
    line-height: 18.15px;
}

.sub-form .task-text .pre-padding {
    width: 90px;
    height: 1px;
}

.sub-form .task-footer {
    font-size: var(--font-size-small);
    font-weight: 600;
    background-color: var(--danger);
}

.hero-wrapper>div:nth-child(2)>div>a:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1px;
    margin-bottom: 20px;
}

.hero-wrapper>div:nth-child(2)>div>a:nth-child(2)::before {
    content: "Cafe by Mark Design";
    display: inline-block;
    animation: typing 10s steps(40) infinite;
    overflow: hidden;
    white-space: nowrap;
    width: 0%;
}

@keyframes typing {

    10%,
    35% {
        content: "Cafe by Mark Design";
        width: 100%;
    }

    45% {
        width: 0%;
    }

    55%,
    90% {
        content: "Checklist Task Harian";
        width: 100%;
    }

    100% {
        content: "Checklist Task Harian";
        width: 0%;
    }
}

.hero-wrapper>div:nth-child(2)>div>a:nth-child(2)::after {
    content: "";
    opacity: 0;
    display: inline-block;
    width: 2px;
    height: 70%;
    background-color: white;
    margin-left: 2px;
    animation: caret-animation infinite 850ms ease;
}

@keyframes caret-animation {
    to {
        opacity: 1;
    }
}

.form-footer button {
    background-color: var(--brown);
    color: white;
}