@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
  --bg-color-main: #f0ebf8;
  --bg-color-board: #020024;
  --color-main: white;
  --color-disabled: rgb(146, 146, 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-main: #020024;
    --bg-color-board: white;
    --color-main: black;
    --color-disabled: grey;
  }
}

body {
  background-color: var(--bg-color-main);
  color: var(--color-main);
}

#app {
  font-size: 12px;
}

#app header,
#app form > .sub-form {
  padding: 2rem;
  background-color: var(--bg-color-board);
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 10px solid #cf7e27;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dadce0;
}

.sub-form {
  display: flex;
  flex-direction: column;
}

.sub-form .sub-label {
  color: var(--color-disabled);
}

.sub-form #date-submit {
  background-color: var(--bg-color-board);
  color: var(--color-main);
}

.sub-form #date-submit::-webkit-calendar-picker-indicator {
  background-color: var(--bg-color-board);
  mix-blend-mode: darken;
}

.sub-form label {
  font-size: 12pt;
  line-height: 24px;
  color: var(--color-main);
}

.sub-form input {
  width: fit-content;
  min-width: 44px;
}

input-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input-preview img {
  width: 80px;
  height: auto;
}

input-preview .ip-wrapper:last-child {
  min-width: 101%;
}

input-preview .ip-wrapper:not(:last-child) label {
  display: none;
}

input-preview .ip-wrapper:last-child label {
  font-size: 12px;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
  width: fit-content;
  color: grey;
  background-color: var(--bg-color-board);
}

input-preview .ip-wrapper:last-child label > svg {
  width: 16px;
}

input-preview .ip-wrapper:last-child label > :first-child {
  aspect-ratio: 1/1;
}

input-preview .ip-wrapper:last-child label > :last-child {
  margin-left: 2px;
}
