@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  background-color: #020024;
}

#app {
  font-size: 12px;
}

#app header,
#app form > .sub-form {
  padding: 2rem;
  background-color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dadce0;
}

.sub-form {
  display: flex;
  flex-direction: column;
}

.sub-form label {
  font-size: 12pt;
  line-height: 24px;
}

.sub-form input {
  width: fit-content;
  min-width: 44px;
}

input-preview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input-preview img {
  width: 80px;
  height: auto;
}

input-preview .ip-wrapper:last-child {
  min-width: 101%;
}

input-preview .ip-wrapper:not(:last-child) label {
  display: none;
}

input-preview .ip-wrapper:last-child label {
  font-size: 12px;
  padding: 5px 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  border-radius: 10px;
  width: fit-content;
  color: grey;
}

input-preview .ip-wrapper:last-child label > svg {
  width: 16px;
}

input-preview .ip-wrapper:last-child label > :first-child {
  aspect-ratio: 1/1;
}

input-preview .ip-wrapper:last-child label > :last-child {
  margin-left: 2px;
}
